body{
    margin: 0px;
    padding: 0px;
}
#frame{
    width: 100%;
    height: 100%;
    grid-template-rows: 1fr 4fr 5fr;
    margin: 0px;
    padding: 0px;
}


#card,#frame{
    grid-row: 1/1;
}
#card{
    height: 90%;
    grid-template-rows: 1fr 1fr 5fr 1fr 9fr 9fr;
    align-self: center;
    justify-self: center;
}
#logor{
    height: 5em;
}

#xOut{
    position: relative;
    top: 0px;
    right: 0px;
}
